NODE_ENV=development
PORT=3001

# CORS
CORS_ORIGINS=http://localhost:3002,http://localhost:3000

# Database
DATABASE_URL=postgresql://ayinelusers:password@localhost:5432/ayineldb?schema=public
SHADOW_DATABASE_URL=postgresql://ayinelusers:password@localhost:5432/ayineldb_shadow?schema=public

# Queues (optional for MVP)
USE_QUEUES=false
REDIS_HOST=localhost
REDIS_PORT=6379

# Auth
JWT_SECRET=changeme
JWT_ACCESS_EXPIRES=900

# Media
MEDIA_ROOT=./uploads
PUBLIC_MEDIA_BASE_URL=http://localhost:3001/uploads

# Payments (dev)
STRIPE_SECRET_KEY=sk_test_xxx

# Web client base
NEXT_PUBLIC_API_BASE=http://localhost:3001
